/* This style file is designed for styling  org.tlauncher.tlauncher.ui.browser.BrowserSimplePanel.java */
body {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 13px;
}
::-webkit-scrollbar-track  {
    background-color: #D7D7D7;
    background-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #B6B6B6;
}
::-webkit-scrollbar-thumb:vertical {
    min-height: 76px;
}